body{
    font-family: Anime;
}

#linked{
    border: chartreuse 2px solid;
    border-radius: 2rem;
    width: 70%;
    height: 10rem;
    margin: 0 auto;
    margin-top: 30%;
    overflow: hidden;
}