body{
    font-family: Anime;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-color: black;
    background-image: url(../Util/World\ Map.svg);
    background-position: top;
}

#logo{
    margin: 0 auto;
    display: block;
    margin-top: 5%;
    height: 25rem;
    width:25rem;
}

#portfolio{
    margin-left: 47%;
    border: chartreuse 2px solid;
    width: 7.5rem;
    border-radius: 0.5rem;
}

#linked{
    display: flex;
    flex-wrap: wrap;
    border: chartreuse 2px solid;
    background-color: black;
    border-radius: 2rem;
    width: 50%;
    height: 15rem;
    margin: 0 auto;
    margin-top: 1%;
    overflow: hidden;
}

.link{
    margin-top: 0.5rem;
    margin-left: 8rem;
    height: 5rem;
    width: 6rem;
}

#link1, #link2, #link3, #link4, #link5, #link6, #link7, #link8{
    height: 3rem;
    width: 3rem;
    background-size: cover;
}

#link1 {
    background-image: url(../Util/classroom.png);
}

#link2 {
    background-image: url(../Util/Chat.png);
}

#link3 {
    background-image: url(../Util/mail.png);
}

#link4 {
    background-image: url(../Util/drive.png);
}

#link5 {
    background-image: url(../Util/github.png);
}

#link6 {
    background-image: url(../Util/React.png);
}

#link7 {
    background-image: url(../Util/npmjs.jpg);
}

#link8 {
    background-image: url(../Util/bgjar.png);
}

@media only screen and (max-width: 1700px) {
    #link1, #link2, #link3, #link4, #link5, #link6, #link7, #link8{
        height: 1.5rem;
        width: 1.5rem;
    }
}

@media only screen and (max-width: 1370px) {
    #linked {
        overflow: auto scroll;
    }
}

// @media only screen and (max-width: 1700px) {
//     #linked {
//         overflow: auto scroll;
//     }
// }